body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.form-control{border-radius: inherit !important; 
     -webkit-box-shadow: none !important; 
     box-shadow: none !important; 
    -webkit-transition: none !important}

.form-group {
    margin-bottom: 1px;
}

.navbar-default {
    background-color: #f8f8f8 !important;
    border-bottom-color: #e7e7e7 !important;
    border-left-color: #e7e7e7 !important;
    border-right-color: #e7e7e7 !important;
    border-top-color: #e7e7e7 !important;
}